
body {
    background-color: rgb(113, 142, 164);
    text-align: center;
}
h1 {
    
    font-size: 50pt;
    text-align: center;
    font-family: 'EB Garamond';
    padding-bottom: 5%; 
}

h3 {
    font-size: 26pt;
    font-family: 'Times New Roman', Times, serif;
}